{% extends 'back_web/base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <style>
        .dataStatistic{width:400px;height:200px;border:1px solid #ccc;
            margin:0 auto;margin:10px;overflow:hidden}
        #cylindrical{width:400px;height:200px;margin-top:-15px}
        #line{width:400px;height:200px;margin-top:-15px}
        #pie{width:400px;height:200px;margin-top:-15px}
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>
{% endblock %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">静态文件管理</h2>
       <a class="fr top_rt_btn" href="{% url 'back_web:show_static' %}">返回静态文件列表</a>
      </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <section>
          <ul class="ulColumn2">
           <li>
            <span class="item_name" style="width:120px;">静态文件名：</span>
            <input type="text" class="textbox textbox_295" value="{{ static.name }}"
                   placeholder="静态文件名..."
                   name="name"/>
            <span class="errorTips">{{ msg }}</span>
           </li>
           <li>
            <span class="item_name" style="width:120px;">上传图片：</span>
            <label class="uploadImg">
             <input type="file" name="img">
             <span>上传图片</span>
            </label>
           </li>
           <li>
            <span class="item_name" style="width:120px;"></span>
            <input type="submit" class="link_btn"/>
           </li>
          </ul>
         </section>
        </form>
 </div>
</section>
{% endblock %}