<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'back_web/css/style.css' %}">
    {% endblock %}
    {% block js %}
        <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <![endif]-->
        <script src="{% static 'back_web/js/jquery.js' %}"></script>
        <script src="{% static 'back_web/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    {% endblock %}
</head>
<body>
    <header>
        <h1><img src="{% static 'back_web/images/admin_logo.png' %}"/></h1>
        <ul class="rt_nav">
        <li><a href="#" target="_blank" class="website_icon">站点首页</a></li>
        <li><a href="#" class="admin_icon">欢迎登陆：{{ user }}</a></li>
        <li><a href="{% url 'back_web:logout' %}" class="quit_icon">安全退出</a></li>
        </ul>
        </header>
        <!--aside nav-->
    <aside class="lt_aside_nav content mCustomScrollbar">
        <h2><a href="{% url 'back_web:index' %}">首页</a></h2>
        <ul>
            <li>
                <dl>
                    <dt>商品信息管理</dt>
                    <!--当前链接则添加class:active-->
                    <dd><a href="{% url 'back_web:index' %}" class="active">商品列表</a></dd>
                    <!--<dd><a href="{% url 'back_web:add_goods' %}">商品添加</a></dd>-->
                    <dd><a href="{% url 'back_web:show_group' %}">分组管理</a></dd>
                    <!--<dd><a href="{% url 'back_web:add_group' %}">分组添加</a></dd>-->
                    <dd><a href="{% url 'back_web:show_static' %}">静态文件管理</a></dd>
                    <dd><a href="{% url 'back_web:show_banner' %}">轮播文件管理</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>订单信息</dt>
                    <dd><a href="{% url 'back_web:show_order' %}">订单列表管理</a></dd>
                    <dd><a href="../notuse/order_detail.html">订单详情示例</a></dd>
                    <dd><a href="{% url 'back_web:show_freight' %}">运费管理</a></dd>
               </dl>
            </li>
            <li>
                <dl>
                    <dt>会员管理</dt>
                    <dd><a href="../notuse/user_list.html">会员列表示例</a></dd>
                    <dd><a href="../notuse/user_detail.html">添加会员（详情）示例</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>配送与支付设置</dt>
                    <dd><a href="{% url 'back_web:show_distrib' %}">配送方式</a></dd>
                    <dd><a href="../notuse/pay_list.html">支付方式</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>在线统计</dt>
                    <dd><a href="../notuse/discharge_statistic.html">流量统计</a></dd>
                    <!--<dd><a href="sales_volume.html">销售额统计</a></dd>-->
                </dl>
            </li>
            <li>
                <p class="btm_infor">© LiXiaoKai.cn 版权所有</p>
            </li>
        </ul>
    </aside>
    {% block content %}

    {% endblock %}

</body>
</html>