{% extends 'back_web/base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <style>
        .dataStatistic{width:400px;height:200px;border:1px solid #ccc;
            margin:0 auto;margin:10px;overflow:hidden}
        #cylindrical{width:400px;height:200px;margin-top:-15px}
        #line{width:400px;height:200px;margin-top:-15px}
        #pie{width:400px;height:200px;margin-top:-15px}
</style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>
{% endblock %}

{% block content %}
    <section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品列表</h2>
       <a href="{% url 'back_web:add_goods' %}" class="fr top_rt_btn add_icon">添加商品</a>
      </div>
      <section class="mtb">
       <select class="select">
        <option>下拉菜单</option>
       </select>
       <input type="text" class="textbox textbox_225" placeholder="输入产品关键词或产品货号..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table">
       <tr>
           <th>序号</th>
        <th>缩略图</th>
        <th>产品名称</th>
        <th>单价</th>
           <th>规格</th>
           <th>简介</th>
        <th>类型</th>
        <th>操作</th>
       </tr>
          <!-- 处理显示商品信息 -->
          {% for good in good_list %}
       <tr>
       <td class="center">{{ forloop.counter }}</td>
        <td class="center"><img src="/media/{{ good.img }}" width="50" height="50"/></td>
        <td class="center">{{ good.name }}</td>
        <td class="center"><strong class="rmb_icon">{{ good.price }}</strong></td>
           <td class="center"><strong class="val_icon">{{ good.format }}</strong></td>
           <td class="center"><strong class="val_icon">{{ good.intro }}</strong></td>
           <td class="center">{{ good.group.name }}</td>
        <td class="center">
         <a href="{% url 'back_web:edit_good' %}?good_id={{ good.id }}" title="编辑" class="link_icon">&#101;</a>
         <a href="{% url 'back_web:del_good' %}?good_id={{ good.id }}" title="删除" class="link_icon">&#100;</a>
        </td>
       </tr>
          {% endfor %}
          <!-- 处理结束 -->
      </table>
      <aside class="paging">
          <!-- 处理页码 -->
       <a href="{% url 'back_web:index' %}">首页</a>
          {% if good_list.has_previous %}
              <a href="{% url 'back_web:index' %}?page={{ good_list.previous_page_number }}">上一页</a>
          {% endif %}
            {% for tmp in good_list.paginator.page_range %}
                {% ifequal tmp page %}
            <a href="{% url 'back_web:index' %}?page={{ tmp }}"
                style="color: red;background-color: white">{{ tmp }}</a>
                {% else %}
            <a href="{% url 'back_web:index' %}?page={{ tmp }}"
                >{{ tmp }}</a>
                {% endifequal %}
          {% endfor %}
        {% if good_list.has_next %}
              <a href="{% url 'back_web:index' %}?page={{ good_list.next_page_number }}">下一页</a>
          {% endif %}
       <a href="{% url 'back_web:index' %}?page={{ good_list.paginator.num_pages }}">尾页</a>
      </aside>
 </div>
</section>
{% endblock %}