{% extends 'fruits_shop/base.html' %}
{% load static %}
{% block title %}
    天天生鲜-商品详情
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
	<div class="search_bar clearfix">
		<a href="{% url 'fruits_shop:index' %}" class="logo fl"><img src="/media/{{ logo.img }}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'fruits_shop:cart' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
                    {% for group in groups %}
					<li><a href="{% url 'fruits_shop:index' %}#{{ group.icon_type }}" class="{{ group.icon_type }}">{{ group.name }}</a></li>
                    {% endfor %}

				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'fruits_shop:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ good.group.name }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/media/{{ good.img }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good.name }}</h3>
			<p>{{ good.intro }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ good.price }}</em></span>
				<span class="show_unit">单  位：{{ good.format }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" id="{{ good.id }}" name="num">
					<a href="javascript:void(0);" class="add fr change">+</a>
					<a href="javascript:void(0);" class="minus fr change">-</a>
				</div> 
			</div>
			<div class="total">总价：<em>{{ good.price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:void(0);" class="buy_btn">立即购买</a>
				<a href="javascript:void(0);" class="add_cart" id="add_cart" >加入购物车</a>
			</div>
                <div class="add_jump"></div>
		</div>
	</div>
	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for other in others %}
					<li>
						<a href="{% url 'fruits_shop:detail' %}?good_id={{ other.id }}"><img src="/media/{{ other.img }}"></a>
						<h4><a href="{% url 'fruits_shop:detail' %}?good_id={{ other.id }}">{{ other.name }}</a></h4>
						<div class="prize">￥{{ other.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
				</dl>
                <div id="content">
                    {% autoescape off %}
                        {{ good.description }}
                    {% endautoescape %}
                </div>
			</div>

		</div>
	</div>


{% endblock %}
{% block js %}

	<script type="text/javascript" src="{% static 'fruits_shop/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fruits_shop/js/cart.js' %}"></script>
	<script type="text/javascript">
        $(function () {
            // 滑动 -- 添加购物车
            $('#add_cart').click(function(){
                var num = $('input[name="num"]').val();
                var good_id = $('input[name="num"]').attr('id');
                var data = {'num': num, 'good_id': good_id};
                $.get('/fruits_shop/add_cart/', data, function (json) {
                    if (json.code == 200){
                        // 定义一个把函数作为参数的函数 内部返送ajax请求，
                        // 吧ajax的相应值作为参数传给参数函数用于处理
                        var $add_x = $('#add_cart').offset().top;
                        var $add_y = $('#add_cart').offset().left;
                        var $to_x = $('#show_count').offset().top;
                        var $to_y = $('#show_count').offset().left;
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                        get_cart_count(function (data) {
                            $(".add_jump").stop().animate({
				            'left': $to_y+7,
				            'top': $to_x+7},
				            "fast", function() {
					        $(".add_jump").fadeOut('fast',function(){
						        $('#show_count').html(data.count);
					        });
			            });
                        });

                    }
                })
            });
            // 改变个数和计价
            $('.change').on('click', function(evt){
                var $evt = $(evt.target);
                var $input = $evt.parent().children('input');
                var value = $input.val();
                var good_id = $input.attr('id');
                if ($evt.text() == '+'){
                    var change_type = 1;
                }else if ($evt.text() == '-'){
                    var change_type = 0;
                }
                var data = {'change_type': change_type,
                    'value': value, 'good_id': good_id};
                $.get('/fruits_shop/change_num/', data, function (data) {
                    if (data.code == 200){
                        $('.num_show').val(data.value);
                        $('.total>em').text(data.total + '元')
                    }
                })
            });
            // 初始化显示购物车
            get_cart_count(show)
        });

	</script>
{% endblock %}
