{% extends 'fruits_shop/base.html' %}
{% load lk_filter %}
{% block title %}
    天天生鲜-首页
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block js %}
{{ block.super }}
    <script type="text/javascript">
    $(function () {
        // 请求当前用户的购物车信息
        get_cart_count(show)
    });
</script>
{% endblock %}
{% block content %}
	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/media/{{ logo.img }}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'fruits_shop:cart' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="{% url 'fruits_shop:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for group in groups %}
                <li><a href="#{{ group.icon_type }}" class="{{ group.icon_type }}">{{ group.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for banner in banners %}
				<li><img src="/media/{{ banner.img }}" alt="{{ banner.name }}"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for static in statics %}
                {% if static.name != 'LOGO' %}
			<a href="#"><img src="/media/{{ static.img }}"></a>
                {% endif %}
            {% endfor %}
		</div>
	</div>
    {% for group in groups %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="{{ group.icon_type }}">{{ group.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for good in group.id|list %}
				    <a href="javascript:void(0);">{{ good.name }}</a>
                {% endfor %}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>
		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/media/{{ group.img }}"></div>
			<ul class="goods_list fl">
                {% for good in group.id|list %}
				<li>
					<h4><a href="{% url 'fruits_shop:detail' %}?good_id={{ good.id }}">{{ good.name }}</a></h4>
					<a href="{% url 'fruits_shop:detail' %}?good_id={{ good.id }}"><img src="/media/{{ good.img }}"></a>
					<div class="prize">¥ {{ good.price }}</div>
				</li>
                    {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}

{% endblock %}